// --- vars

$backgroundVars:		#f9f9f9;
$noPadding:				0;
$smallPadding:			0.5%;
$largePadding:			2%;
$headerColour:			#000000;
$letterSpacing:	        2px;
$defaultFontSize:		1em;

$colour1:  				#AA4D39;
$colour2:  				#963254;
$colour3:  				#76276C;

// --- extends

%clearfix:after
{
	display:			block;
	clear:				both;
	content:			"";
}

%center
{
	margin-left: 		auto !important;
    margin-right: 		auto !important;
    display:			inline-block !important;
    text-align:			center;
}

%fancyFont
{
	font-family: 'Comfortaa', cursive;
}

%normalFont
{
	font-family: 'Hind', sans-serif;
}

// styling

html,body
{
	height:	100% !important;
}
body
{
	@extend 			%normalFont;
	background:			$backgroundVars;
	margin:   			$noPadding;
	padding:			$noPadding;
	overflow:			hidden;
}

.main-container
{
	margin: 			$smallPadding;
	padding: 			$smallPadding;
	height:				100% !important;
}

#page-body, .center
{
	height:				90% !important;
}

.row
{
	@extend 			%clearfix;

	& + &
	{
		margin-top:		$largePadding;
	}
}

[class^="column-"]
{
	float:				left;
	margin-right:		$largePadding;
	-webkit-box-sizing:	border-box; 
    -moz-box-sizing:	border-box; 
    box-sizing:			border-box;
 
    &:last-child 
    {
        margin-right:	0%;
    }
}

.column-1
{ 	
	width:				(100% / 12) - ($largePadding * 11 / 12);
}
.column-2
{ 	
	width:				(100% / 6) - ($largePadding * 10 / 12); 
}
.column-3
{ 	
	width:				(100% / 4) - ($largePadding * 9 / 12); 
}
.column-4
{ 	
	width:				(100% / 3) - ($largePadding * 8 / 12); 
}
.column-5
{ 	
	width:				(100% / 2.4) - ($largePadding * 7 / 12); 
}
.column-6
{ 	
	width:				(100% / 2) - ($largePadding * 6 / 12); 
}
.column-7
{ 	
	width:				(100% / 1.714285714285714) - ($largePadding * 5 / 12); 
}
.column-8
{ 	
	width:				(100% / 1.5) - ($largePadding * 4 / 12); 
}
.column-9
{ 	
	width:				(100% / 1.333333333333333) - ($largePadding * 3 / 12); 
}
.column-10
{ 	
	width:				(100% / 1.2) - ($largePadding * 2 / 12); 
}
.column-11
{ 	
	width:				(100% / 1.090909090909091) - ($largePadding * 1 / 12); 
}
.column-12
{ 	
	width:				100%; 
}

h2,h3,h4
{
	padding:			$noPadding;
	margin:				$noPadding;
	font-weight: 		0;
	letter-spacing:		$letterSpacing;
}

h4
{
	color:				lighten($headerColour, 70%) !important;
	margin-bottom:		$largePadding;
}

#logo-header div
{
	@extend 			%center;
}

.logo
{
	font-size:			$defaultFontSize * 2.85;
}

.int
{
	@extend 			%fancyFont;
	color:				$colour1;
}
.heon
{
	@extend 			%fancyFont;
	color:				$colour2;
}

#navigation-header
{
	margin-top:			0% !important;
}

#navigation-header div
{
	@extend 			%center;
	-webkit-font-smoothing: antialiased !important;
}

.center
{
	@extend 			%center;
}

.rev-offset
{
	margin-left:		-0.5%;
}

.line-1
{
	margin-right:		-100%;
	opacity:			0;
	transition:			all 0.8s;
}

.line-2
{
	margin-right:		-100%;
	opacity:			0;
	transition:			all 1s;
}
.line-3
{
	margin-left:		-100%;
	opacity:			0;
	transition:			all 1s;
}
.line-4
{
	margin-left:		-100%;
	opacity:			0;
	transition:			all 1.3s;
}

.portfolio-slides-container
{
	margin-left:		-100% !important;
	opacity:			0;
	transition:			all 1s;
	width: 				100%;
	height: 			100%;
	position:absolute;
	visibility: 		hidden;
	cursor: 			hand;
	cursor:             -moz-grab;
	cursor:             -webkit-grab;
	cursor:             grab;
	color:				white;
	background:			transparent;
	overflow: 			hidden !important;
	color:black;
}

.portfolio-slide-1
{
	width:				100%;
	height:				100%;
	background:			url(../img/test.png) no-repeat;
	transition:			all 1s;
	opacity:			1;
}

.port-background
{
	content:			url(../img/test.png);
	margin-left:		-100% !important;
	opacity:			0;
	transition:			all 1s;
}

.anim
{
	opacity:			1;
	margin:				0% !important;
}

.test
{
	opacity:			0.3;
	margin:				-30% !important;
}



